<!-- CardPro Sheet Tab -->
<table class="table table-borderless mt-3">
  <thead>
    <tr>
      <th>#</th>
      <th class="fw-normal">Name</th>
      <th class="fw-normal">Reg #</th>
      <th class="fw-normal">Practising #</th>
      <th class="fw-normal">Valid Until</th>
      <th class="fw-normal">Photo Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td class="text-secondary fs-6">Jul 14, 2023</td>
      <td class="text-secondary">Jul 15, 2023</td>
      <td class="text-secondary">Valid Until</td>
      <td class="text-secondary">Credit</td>
      <td class="text-secondary">+ $12.50</td>
    </tr>
    <tr>
      <td>2</td>
      <td class="text-secondary">Jul 14, 2023</td>
      <td class="text-secondary">Jul 15, 2023</td>
      <td class="text-secondary">Valid Until</td>
      <td class="text-secondary">Credit</td>
      <td class="text-secondary">+ $12.50</td>
    </tr>
  </tbody>
</table>
