<div *ngIf="isDataAvailable">
  <table class="table table-borderless mt-3">
    <thead>
      <tr>
        <th class="fw-normal">Name</th>
        <th class="fw-normal">Email</th>
        <th class="fw-normal">Reg #</th>
        <th class="fw-normal">Practising #</th>
        <th class="fw-normal">Registration Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of trackingSheetClients">
        <td class="text-secondary fs-6">{{ item.name }} {{ item.surname }}</td>
        <td class="text-secondary">{{ item.email }}</td>
        <td class="text-secondary">{{ item.registrationNumber }}</td>
        <td class="text-secondary">{{ item.practiceNumber }}</td>
        <td class="text-secondary">{{ item.registrationYear }}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation" class="mt-5 me-5 p-4" *ngIf="!isFetchingData">
    <ul class="pagination justify-content-end">
      <li class="page-item first" [ngClass]="{disabled: !isStartEnabled}" (click)="onGetStartPage()">
        <a class="page-link"><i class="bi bi-chevron-double-left"></i></a>
      </li>
      <li class="page-item" [ngClass]="{disabled: !isPrevEnabled}" (click)="onGetPreviousPage()">
        <a class="page-link"><i class="bi bi-chevron-left"></i></a>
      </li>
      <!-- API indexing starts at zero -->
      <li class="page-item" [ngClass]="{active: page == currentPage }" *ngFor="let page of pages" (click)="onGetPage(page - 1)">
        <a class="page-link"> {{ page }} </a>
      </li>
      <li class="page-item" [ngClass]="{disabled: !isNextEnabled}" (click)="onGetNextPage()">
        <a class="page-link"><i class="bi bi-chevron-right"></i></a>
      </li>
      <li class="page-item last" [ngClass]="{disabled: !isEndEnabled}" (click)="onGetEndPage()">
        <a class="page-link"><i class="bi bi-chevron-double-right"></i></a>
      </li>
    </ul>
  </nav>
</div>
  <!-- Empty Data Set -->
  <div class="no-data-container text-center mt-5" *ngIf="!isDataAvailable">
    <img src="assets/images/empty.png" class="empty-data-image" alt="No Data Available" />
    <p class="text-muted">No data available yet</p>
  </div>