body {
    /* background-color: #E5E9EC; #e2e8f0 */
    background-color: #fff; 
}

.nav-tabs .nav-link {
    color: gray; /* Inactive tab color */
  }
  
  .nav-tabs .nav-link.active {
    color: black !important; /* Active tab color */
}

@font-face {
    font-family: inter;
    src: url(assets/fonts/inter_normal.ttf) format(truetype);
}

.custom-border {
    border-color: #000 !important; /* Light gray for subtle look */
    padding-left: 20px; /* Add some spacing so text isn’t too close to border */
}
.card {
    border: 1px solid #e2e8f0; /* Light grey border */
  }